<div class="diagram-viewport @Class"
    @ref="refElement"
    @ondragend="OnDragEnd"
    @ondragover:preventDefault
    @ondragenter="OnDragEnter"
    @ondragover="OnDragOver"
    @onmousedown="OnMouseDown"
    @onmousemove="OnMouseMove"
    @onmousemove:preventDefault
    @onmouseup="OnMouseUp"
    @onkeydown="OnKeyDown"
    @onwheel="OnWheel"
    @onwheel:preventDefault
    @onwheel:stopPropagation
    @ontouchstart="OnTouchStart"
    @ontouchmove="OnTouchMove"
    @ontouchend="OnTouchEnd"
    @ontouchend:preventDefault>

    <svg class="grid-layer">
        @foreach(var line in GridLines) {
            <line class="grid-line" x1="@line.X1" y1="@line.Y1" x2="@line.X2" y2="@line.Y2"/>
        }
    </svg>
    <svg class="connections-layer" style="@ViewportInfoString">
        @foreach (var connector in Diagram.Document.Connectors) {
            <ConnectorItem @key="connector" Connector="connector" />
        }
    </svg>
    <div class="nodes-layer" style="@ViewportInfoString">
        @foreach (var node in Diagram.Document.Nodes) {
            <NodeItem @key="node" Node="node" />
        }
    </div>
    <div class="diagram-info-panel">
        <div class="diagram-info">Doc: @DocumentCursorString</div>
        @*<div class="diagram-info">@OriginString</div>*@
        <div class="diagram-info">@ZoomFactorPercentString</div>
    </div>
</div>

@code {

}
