@page "/documenteditor/{documentId}"
@using DevExpress.Blazor;
@using DevExpress.Xpo
@using System.Text
@using WorkflowDiagram.UI.Blazor.Editors
@using WorkflowDiagram.UI.Blazor.ServiceModel
@using WorkflowDiagram.UI.Blazor.NodeEditors;
@inject IJSRuntime JS

<PageTitle>Edit Document</PageTitle>

<div class="document-editor">
    <div class="toolbar-area">
        <DxToolbar ItemClick="@OnItemClick" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" ItemSizeMode="SizeMode.Small">
        <Items>
            <DxToolbarItem Name="biSave" Text="Save..." Tooltip="Save document." />
            <DxToolbarItem Name="biUpload" Text="Upload..." Tooltip="Upload document from file."/>
            <DxToolbarItem Name="biDownload" Text="Download..." Tooltip="Download a copy." />
            <DxToolbarItem Name="biRunOnce" Text="Run Once" Tooltip="Run your code one time." />
            <DxToolbarItem Name="biOrigin" Text="Move (0,0)" Tooltip="Move to O,0" />
            <DxToolbarItem Name="biRemoveSelected" Text="Remove Selected" Tooltip="Remove Selected Items" />
            <DxToolbarItem Name="biShowFiles" Text="Files" Tooltip="Show document's generated files"/>
            <DxToolbarItem Name="biToggleGrid" Text="Toggle Grid" Tooltip="Show/Hide Diagram Grid"/>
        </Items>
    </DxToolbar>
    </div>
    <CollectionEditorDialog @ref="collectionEditDialog"></CollectionEditorDialog>
    <div class="content-area">
        <div class="panel-outer toolbox-area">
            <div class="panel">
                <div class="panel-header">Toolbox</div>
                <div class="panel-content">
                    <CascadingValue Value="diagramComponent">
                        <div class="nodes-list">
                            @foreach(var item in diagramComponent.ToolboxItems) {
                                <ToolboxItem @key="item" Item="item"/>
                            }
                        </div>
                    </CascadingValue>
                </div>
            </div>
        </div>
        <div class="vertical-panel">
            <div class="panel-outer diagram-area">
                <div class="panel">
                    <div class="panel-header">Diagram</div>
                    <CascadingValue Value="diagramComponent">
                        <WfDiagramView></WfDiagramView>
                    </CascadingValue>
                </div>
            </div>
            <div class="panel-outer errors-area">
                <div class="panel">
                    <div class="panel-header">Diagnostics</div>
                    <div class="ee-errors-panel">
                        <table class="error-table">
                            @for(int i = 0; i < Errors.Count; i++) {
                                if(i % 2 == 0) {
                                    <tr class="error-row even">
                                        <td class="err-cell"><div class="err-type @Errors[i].Type">@Errors[i].Type</div></td>
                                        <td class="err-cell">@Errors[i].Text</td>
                                    </tr>
                                }
                                else {
                                    <tr class="error-row odd">
                                        <td class="err-cell"><div class="err-type @Errors[i].Type">@Errors[i].Type</div></td>
                                        <td class="err-cell">@Errors[i].Text</td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="properties-area">
            <div class="panel-outer properties">
                <div class="panel">
                    <div class="panel-header">Properties</div>
                    <CascadingValue Value="collectionEditDialog">
                        <CascadingValue Value="propertyGridComponent">
                            <PropertyGridView></PropertyGridView>
                        </CascadingValue>
                    </CascadingValue>
                </div>
            </div>
            <div class="panel-outer connections">
                <div class="panel">
                    <div class="panel-header">Inputs/Outputs</div>
                    <DxTabs>
                        <DxTabPage Text="Inputs">
                            <ConnectionPointsControl Points="@SelectedInputs"></ConnectionPointsControl>
                        </DxTabPage>
                        <DxTabPage Text="Outputs">
                            <ConnectionPointsControl Points="@SelectedOutputs"></ConnectionPointsControl>
                        </DxTabPage>
                    </DxTabs>
                </div>
            </div>
        </div>
    </div>
</div>
<CascadingValue Value="popupComponent">
    <PopupView>
        <div class="form-label">Uploading file. Please wait...</div>
    </PopupView>     
</CascadingValue>

<CascadingValue Value="filePopup">
    <PopupView>
        <div class="document-files-list">
            <ListBoxComponent ItemsSource="@diagramComponent.Document.Files" Commands="@filesCommands">
            </ListBoxComponent>
        </div>
    </PopupView>
</CascadingValue>

<InputFile class="e-file-select-wrap" OnChange="@UploadFile" />
<MessageBoxComponent></MessageBoxComponent>

@code {
    private WfDocument document;
    private WfDiagramComponent diagramComponent;

    private PropertyGridComponent propertyGridComponent;
    private PopupComponent popupComponent;
    private PopupComponent filePopup;

    private CollectionEditorDialog collectionEditDialog;

    public DocumentEditorPage() {
        Errors = new List<WfDiagnosticInfo>();
    }

    [Parameter]
    public string DocumentId { get; set; }

    private WfConnectionPointCollection SelectedInputs { get; set; }
    private WfConnectionPointCollection SelectedOutputs { get; set; }

    private List<ListBoxItemCommand> filesCommands;

    protected override void OnInitialized() {
        base.OnInitialized();
        this.document = new WfDocument();

        ListBoxItemCommand downloadFile = new ListBoxItemCommand() { Text = "Download...", Icon = "" };
        downloadFile.Click += OnDownloadFileClick;

        this.filesCommands = new ListBoxItemCommand[] { downloadFile }.ToList();

        popupComponent = new PopupComponent() { Title = "Upload" };
        filePopup = new PopupComponent() { Title = "Files", ShowCloseButton = true };
        diagramComponent = new WfDiagramComponent();
        diagramComponent.SelectionChanged += (d, e) => {
            propertyGridComponent.SelectedObjects = e.Selection.Select(s => (object)s.DataItem).ToArray();

            WfNode node = (WfNode)(e.Selection.FirstOrDefault(s => s.DataItem is WfNode)?.DataItem);
            SelectedInputs = node == null ? null : node.Inputs;
            SelectedOutputs = node == null ? null : node.Outputs;
            StateHasChanged();
        };
        diagramComponent.Document = document;
        propertyGridComponent = new PropertyGridComponent();
    }

    protected virtual void OnDownloadFileClick(object sender, ListBoxItemCommandEventArgs e) {
        WfFile file = (WfFile)e.Item;
        DownloadFileFromStream(file);
    }

    protected override Task OnInitializedAsync() {
        return base.OnInitializedAsync().ContinueWith((t) => LoadDocument());
    }

    void UploadFile(InputFileChangeEventArgs e) {
        this.popupComponent.ShowPopup();
        Task.Run(async () => {
            using(MemoryStream m = new MemoryStream(1024 * 1024)) {
                await e.File.OpenReadStream(maxAllowedSize: 20 * 1024 * 1024).CopyToAsync(m);
                WfDocument wfdoc = new();
                try {
                    wfdoc.LoadFromString(Encoding.Default.GetString(m.GetBuffer()));
                }
                catch(Exception) {
                    return;
                }
                InvokeAsync(() => {
                    this.diagramComponent.Document = wfdoc;
                    this.diagramComponent.ZoomFactor = 1;
                    this.diagramComponent.Origin = new System.Drawing.PointF(0, 0);

                    this.popupComponent.HidePopup();
                    this.diagramComponent.Refresh();
                    StateHasChanged();
                });
            }
        });
    }

    void LoadDocument() {
        using(UnitOfWork session = new UnitOfWork(XpoDefault.DataLayer)) {
            DocumentInfo doc = DatabaseManager.Current.Get<DocumentInfo>(session, Convert.ToInt32(DocumentId));
            WfDocument wfdoc = new WfDocument();
            wfdoc.LoadFromString(doc.Code);
            this.diagramComponent.Document = wfdoc;
            InvokeAsync(() => {
                this.diagramComponent.ZoomFactor = 1;
                this.diagramComponent.Origin = new System.Drawing.PointF(0, 0);
                this.diagramComponent.Refresh();
            });
        }
        InvokeAsync(StateHasChanged);
    }

    void OnItemClick(ToolbarItemClickEventArgs e) {
        if (e.ItemName == "biOrigin")
            OnOriginClick();
        else if (e.ItemName == "biSave")
            OnSaveClickAsync();
        else if (e.ItemName == "biDownload")
            OnDownloadClick();
        else if (e.ItemName == "biUpload")
            OnUploadClick();
        else if (e.ItemName == "biRunOnce")
            OnRunOnceClick();
        else if (e.ItemName == "biRemoveSelected")
            OnRemoveSelected();
        else if (e.ItemName == "biShowFiles")
            OnShowFilesClick(e.ItemName);
        else if (e.ItemName == "biToggleGrid")
            OnToggleGrid();
    }

    void OnToggleGrid(){
        this.diagramComponent.ShowGrid = !this.diagramComponent.ShowGrid;
    }

    void OnRunOnceClick() {
        Errors = new List<WfDiagnosticInfo>();
        WfRunner runner = new WfRunner(this.diagramComponent.Document);
        if(!runner.Initialize()) {
            this.diagramComponent.Refresh();
            MessageBoxComponent.Show("Initialization", "Initialization failed.");
            Errors = this.diagramComponent.Document.DiagnosticHelper.Diagnostics;
            return;
        }
        if(!runner.RunOnce()) { 
            this.diagramComponent.Refresh();
            MessageBoxComponent.Show("Run", "Run once failed.");
            Errors = this.diagramComponent.Document.DiagnosticHelper.Diagnostics;
            return;
        }
        Errors = this.diagramComponent.Document.DiagnosticHelper.Diagnostics;
        MessageBoxComponent.Show("Run", "Successfully completed.");
        this.diagramComponent.Refresh();
    }

    void OnRemoveSelected() {
        this.diagramComponent.DeleteSelectedItems();
    }

    Task OnDownloadClick() {
        return DownloadFileFromStream(this.diagramComponent.Document);
    }

    void OnShowFilesClick(string itemId) {
        this.filePopup.ShowPopup();
    }

    void OnUploadClick() {
        JS.InvokeVoidAsync("uploadFile");
    }

    Task OnSaveClickAsync() {
        return Task.Run(() => {
            using(UnitOfWork session = new UnitOfWork(XpoDefault.DataLayer)) {
                DocumentInfo doc = DatabaseManager.Current.Get<DocumentInfo>(session, Convert.ToInt32(DocumentId));
                StringBuilder b = new StringBuilder(1024 * 1024);
                using(MemoryStream m = new MemoryStream()) {
                    this.diagramComponent.Document.Save(b);
                    doc.Code = b.ToString();
                    session.CommitChanges();
                    MessageBoxComponent.Show("Save", "Document successfully saved.");
                }
            }
        });
    }

    void OnOriginClick() {
        diagramComponent.Origin = new System.Drawing.PointF(0.0f, 0.0f);
    }

    Stream GetTextStream(string text) {
        byte[] bytes = Encoding.UTF8.GetBytes(text);
        MemoryStream m = new MemoryStream(bytes);
        return m;
    }

    Stream GetBinaryStream(byte[] data) {
        MemoryStream m = new MemoryStream(data);
        return m;
    }

    private async Task DownloadFileFromStream(WfDocument doc) {
        StringBuilder b = new StringBuilder();
        string fileName = "document-" + doc.Id.ToString() + ".xml";
        doc.Save(b);
        var fileStream = GetTextStream(b.ToString());
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    private async Task DownloadFileFromStream(WfFile file) {
        StringBuilder b = new StringBuilder();
        string fileName = file.FullName;
        var fileStream = File.OpenRead(file.ItemId);
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

    internal List<WfDiagnosticInfo> Errors { get; set; }
}
