@page "/workspaces"
@using DevExpress.Blazor;
@using WorkflowDiagram.UI.Blazor.ServiceModel;

<PageTitle>Prganizations</PageTitle>

<div class="document-editor">
    <div class="toolbar-area">
        <DxToolbar ItemClick="@OnItemClick" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" ItemSizeMode="SizeMode.Medium">
        <Items>
            <DxToolbarItem Name="biAdd" Text="Add" Tooltip="Add workspace." />
            <DxToolbarItem Name="biEdit" Text="Edit" Tooltip="Edit workspace." />
            <DxToolbarItem Name="biRemove" Text="Remove" Tooltip="Remove selected workspaces." />
        </Items>
    </DxToolbar>
    </div>
    <div class="content-area">
        <div class="gallery">
            @foreach(var org in OrgList) {
                <div class="gallery-item orange">
                    <div class="gallery-item-header">@org.Name</div>
                    <div class="gallery-item-row">
                        <div class="gallery-item-field">Created:</div>
                        <div class="gallery-item-value">@org.CreationTime</div>
                    </div>
                    <div class="gallery-item-row">
                        <div class="gallery-item-field">Projects:</div>
                        <div class="gallery-item-value">@org.Projects.Count</div>
                    </div>
                    <div class="gallery-item-description">@org.Description</div>
                    <div class="gallery-item-row align-right"> 
                        <DxButton CssClass="orange-button" Click="@(e => OnEnterWorkspace(org.Oid))" SizeMode="SizeMode.Medium" RenderStyleMode="ButtonRenderStyleMode.Outline">Enter</DxButton>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@code {
    public List<WorkspaceInfo> OrgList{ get; set; }
    protected override void OnInitialized() {
        base.OnInitialized();
        OrgList = new List<WorkspaceInfo>();
    }

    void OnEnterWorkspace(int oid) {

    }

    void OnItemClick(ToolbarItemClickEventArgs e) {
        if(e.ItemName == "biAdd")
            OnAddNewWorkspace();
        else if(e.ItemName == "biEdit")
            OnEditWorkspace();
        else if(e.ItemName == "biRemove")
            OnRemoveWorkspaces();
    }

    void OnAddNewWorkspace() { }
    void OnEditWorkspace() { }
    void OnRemoveWorkspaces() { }
}