@page "/projects"
@using DevExpress.Blazor;

<PageTitle>Projects</PageTitle>

<div class="document-editor">
    <div class="toolbar-area">
        <DxToolbar ItemClick="@OnItemClick" ItemRenderStyleMode="ToolbarRenderStyleMode.Plain" ItemSizeMode="SizeMode.Medium">
        <Items>
            <DxToolbarItem Name="biNew" Text="New" Tooltip="New project." />
            <DxToolbarItem Name="biUpload" Text="Upload" Tooltip="Upload project from computer." />
            <DxToolbarItem Name="biDownload" Text="Download" Tooltip="Download a copy." />
        </Items>
    </DxToolbar>
    </div>
    <div class="content-area">
        <div class="gallery">
            @foreach(var project in Projects) {
                <div class="gallery-item orange">
                    <div class="gallery-item-header">@project.Name</div>
                    <div class="gallery-item-row">
                        <div class="gallery-item-field">Created:</div>
                        <div class="gallery-item-value">@project.CreationTime</div>
                    </div>
                    <div class="gallery-item-row">
                        <div class="gallery-item-field">Documents:</div>
                        <div class="gallery-item-value">@project.Documents.Count</div>
                    </div>
                    <div class="gallery-item-description">@project.Description</div>
                    <div class="gallery-item-row align-right"> 
                        <DxButton CssClass="orange-button" Click="@(e => OnOpenProjectClick(project.Id))" SizeMode="SizeMode.Medium" RenderStyleMode="ButtonRenderStyleMode.Outline">Open</DxButton>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@code {
    public List<WfProject> Projects{ get; set; }
    protected override void OnInitialized() {
        base.OnInitialized();
        List<WfProject> list = new List<WfProject>();
        for(int i = 0; i < 40; i++) {
            var proj = new WfProject() { Name = "Project " + (i + 1), Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum quam orci, ut viverra nisi consectetur non. Proin volutpat ex quam, at posuere leo maximus ac." };
            for(int j = 0; j < 10; j++) {
                var doc = new WfDocument() { Name = "Document " + (j + 1), Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum quam orci, ut viverra nisi consectetur non. Proin volutpat ex quam, at posuere leo maximus ac." };
                proj.Documents.Add(doc);
            }
            list.Add(proj);
            Projects = list;
        }
    }

    void OnOpenProjectClick(Guid projectId) {
        
    }

    void OnItemClick(ToolbarItemClickEventArgs e) {
    }
}